<div class="spinner" ng-show="loading"></div> 
<table class="table table-striped table-bordered">
	<tr>
		<th>disk Name&nbsp;</th>
		<th>{{disk.name}}</th>
	</tr>
	<tr>
		<th>Address&nbsp;</th>

		<th>{{disk.address}}</th>
	</tr>
	
	<tr>
		<th>Designation&nbsp;</th>

		<th>{{disk.designation}}</th>
	</tr>
	<tr>
		<th>Email&nbsp;</th>

		<th>{{disk.email}}</th>
	</tr>
	<tr>
		<th>Phone&nbsp;</th>

		<th>{{disk.phone}}</th>
	</tr>
	<tr>
		<th>Manager&nbsp;</th>

		<th>{{disk.manager.name}}</th>
	</tr>
</tr>

<tr>
	<th>Act As Manager&nbsp;</th>

	<th>{{disk.actAsManager}}</th>
</tr>
</tr>
</table>